---
---
{% include variables.scss %}

@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";

body {
    background-color: $light-color-background;
    color: $light-color-text;

    @media #{$dark} {
        background-color: $dark-color-background;
        color: $dark-color-text;
    }
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 3rem;
    background-color: $light-color-accent;
    color: $light-color-background;
    background-image: linear-gradient(0deg, transparentize(black, .9), transparent);

    @media #{$dark} {
        background-color: $dark-color-accent;
        color: $dark-color-background;
    }

    @media #{$mobile} {
        flex-direction: column-reverse;
        padding: 3rem 2rem 0;
    }

    #all-projects {
        font-family: $Roboto;
        font-size: 1.2rem;
        height: 3rem;

        @media #{$mobile} {
            margin-top: 2rem;
            text-align: center;
        }

        a {
            @include centering-flex;
            @include hoverable-arrows($direction: left, $selector: "span.arrow");
            color: inherit;
            text-decoration: none;
            display: inline-flex;
            height: 100%;
            margin-left: -2rem;
            padding: 0 2rem;

            @media #{$mobile} {
                margin-left: initial;
            }

            span.arrow {
                width: 0;

                @media #{$mobile} {
                    width: 1.3em;
                }
            }
        }
    }

    h1 {
        font-family: $RobotoSlab;
        text-align: center;
        font-size: 3em;
        margin: 0 0 .3em;
        overflow-x: auto;
    }

    h2 {
        font-family: $Roboto;
        font-weight: 400;
        text-align: center;
        font-size: 1.5em;
        margin: 0;
    }

    ~ span.shadow {
		display: block;
		width: 100%;
		height: .5rem;
	}

    + span.shadow {
        background-color: mix($light-color-background, $light-color-accent, 25%);

        @media #{$dark} {
            background-color: mix($dark-color-background, $dark-color-accent, 25%);
        }
    }

    + span.shadow + span.shadow {
        background-color: mix($light-color-background, $light-color-accent, 50%);

        @media #{$dark} {
            background-color: mix($dark-color-background, $dark-color-accent, 50%);
        }
    }

    + span.shadow + span.shadow + span.shadow {
        background-color: mix($light-color-background, $light-color-accent, 75%);

        @media #{$dark} {
            background-color: mix($dark-color-background, $dark-color-accent, 75%);
        }
    }
}

main {
    font-family: $Roboto;

    p,
    ul,
    ol {
        line-height: 1.5;
        @include body-width;
    }

    .button-link {
        text-align: center;
        padding-bottom: 0.9em;

        a {
            margin-top: 1em;
            font-weight: bold;
            font-size: 1.5em;
            font-family: $RobotoSlab;
        }
    }
}