---
---
{% include css-funcs.scss %}

$background: #26292C;
$accent: #00849D;
$link: #66D9EF;

html, body {
	overflow-x: hidden;
}

body {
	font-family: Roboto;
	background-color: $background;
	color: #FFF;
	padding: 0 0 3em;
}

.logo {
	font-family: "Roboto Slab";
	font-weight: 700;
}

#navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 20px;
	background: #00849d;
	color: #ffffff;
	z-index: 1;
	box-sizing: border-box;

	#menu-logo {
		font-size: 1.2em;
		color: #FFF;
		padding: .5em .8em;
		line-height: 1;

		&:hover,
		&:focus,
		&:active {
			background-color: scale-color($accent, $lightness: -20%);
		}
	}

	input {
		width: 3em;
		height: 100%;
		display: block;
		margin: 0;
		position: absolute;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
		font-size: 1em;
	}

	#navbar-toggle {
		width: 3em;
		display: flex;
		flex-direction: column;
		z-index: 1;
		justify-content: space-around;
		align-items: center;
		transition: background-color 0.3s ease;

		span {
			display: block;
			width: 2em;
			height: .25em;
			position: relative;
			background-color: #FFF;
			border-radius: .125em;
			transform-origin: center;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background-color 0.3s ease;
		}

		span + span {
			margin-top: .25em;
		}
	}

	input:checked ~ #navbar-toggle {
		background-color: #FFF;

		span {
			background-color: $accent;

			&:nth-child(1) {
				opacity: 1;
				transform: translateY(.5em) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: rotate(-45deg);
			}

			&:nth-child(3) {
				opacity: 0;
				transform: scale(0, 0);
			}
		}
	}

	input:checked:hover ~ #navbar-toggle span,
	input:checked:focus ~ #navbar-toggle span {
		background-color: scale-color($accent, $lightness: -25%);
	}

	input:hover:not(:checked) ~ #navbar-toggle,
	input:focus:not(:checked) ~ #navbar-toggle {
		background-color: scale-color($accent, $lightness: -20%);
	}

	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		transition: background-color 0.3s ease,
			color 0.3s ease;
	}
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
	#navbar {
		flex-direction: row-reverse;

		#menu {
			position: absolute;
			box-sizing: border-box;
			width: css-min(20em, 100vw);
			left: 100vw;
			top: 100%;
			padding: 2em;
			background: #FFF;
			-webkit-font-smoothing: antialiased;
			transition: left 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
			overflow: auto;

			li {
				margin: 0 -2em;

				a {
					display: block;
					text-decoration: none;
					color: $accent;
					padding: .3em 2em;

					&:hover,
					&:focus,
					&:active {
						background-color: $accent;
						color: #FFF;
					}
				}
			}
		}

		input:checked ~ #menu {
			left: calc(100vw - min(20em, 100vw));
		}
	}
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
	#navbar {
		width: 100%;

		input {
			display: none;
		}

		#navbar-toggle {
			display: none;
		}

		a {
			color: #FFF;

			&:hover,
			&:focus,
			&:active {
				background-color: scale-color($accent, $lightness: -20%);
			}
		}

		#menu {
			position: relative;
			justify-content: space-between;

			ul {
				padding: 0;
				display: flex;
				height: 100%;

				a {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					padding: 0 1em;
				}
			}
		}
	}
}

#title {
	font-size: 4em;
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 0;
}

#description {
	font-family: "Roboto Slab";
	font-weight: normal;
	text-align: center;
	font-size: 1.75em;
}

#table {
	$list-padding: 2em;

	max-width: 95%;
	width: 60em;
	margin: 2em auto 0;
	ul {
		list-style-type: none;
		padding-left: $list-padding;

		li:before {
			display: inline-block;
			margin-left: -$list-padding;
			margin-right: 0.25em;
			width: $list-padding - 0.25em;
			text-align: right;
		}
	}

	> ul {
		> li:before {
			content: "1";
		}

		> li > ul {
			> li:nth-child(1):before {
				content: "\0391";
			}
			> li:nth-child(2):before {
				content: "\0392";
			}
			> li:nth-child(3):before {
				content: "\0393";
			}
			> li:nth-child(4):before {
				content: "\0394";
			}
			> li:nth-child(5):before {
				content: "\0395";
			}
			> li:nth-child(6):before {
				content: "\0396";
			}
			> li:nth-child(7):before {
				content: "\0397";
			}
			> li:nth-child(8):before {
				content: "\0398";
			}
			> li:nth-child(9):before {
				content: "\0399";
			}

			> li > ul {
				> li:nth-child(1):before {
					content: "\03b1";
				}
				> li:nth-child(2):before {
					content: "\03b2";
				}
				> li:nth-child(3):before {
					content: "\03b3";
				}
				> li:nth-child(4):before {
					content: "\03b4";
				}
				> li:nth-child(5):before {
					content: "\03b5";
				}
				> li:nth-child(6):before {
					content: "\03b6";
				}
				> li:nth-child(7):before {
					content: "\03b7";
				}
				> li:nth-child(8):before {
					content: "\03b8";
				}
				> li:nth-child(9):before {
					content: "\03b9";
				}
				> li:nth-child(10):before {
					content: "\03ba";
				}
				> li:nth-child(11):before {
					content: "\03bb";
				}
				> li:nth-child(12):before {
					content: "\03bc";
				}
				> li:nth-child(13):before {
					content: "\03bd";
				}
				> li:nth-child(14):before {
					content: "\03be";
				}
			}
		}
	}

	a {
		color: $link;

		&:hover {
			text-decoration: none;
		}
	}
}

#content {
	max-width: 95%;
	width: 60em;
	margin: 2em auto 0;

	& > section {
		h2 {
			font-size: 1.5em;
			font-family: "Roboto Slab";
		}

		p {
			font-size: 1.2em;
			text-align: justify;
		}
	}

	a {
		color: $link;

		&:hover {
			text-decoration: none;
		}
	}
}

code {
	display: inline-block;
	font-family: "Roboto Mono";
	background: scale-color($background, $lightness: 20%);
	border-radius: .25em;
	padding: 0 .125em;
}