---
---
$background: #26292C;
$accent: #00849D;

html, body {
	overflow-x: hidden;
}

body {
	font-family: Roboto;
	background-color: $background;
	color: #FFF;
	padding: 0 0 3em;
}

.logo {
	font-family: "Roboto Slab";
	font-weight: 700;
}

#navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 20px;
	background: #00849d;
	color: #ffffff;
	z-index: 1;
	box-sizing: border-box;

	#menu-logo {
		font-size: 1.2em;
		color: #FFF;
		padding: .5em .8em;
		line-height: 1;

		&:hover,
		&:focus,
		&:active {
			background-color: scale-color($accent, $lightness: -20%);
		}
	}

	input {
		width: 3em;
		height: 100%;
		display: block;
		margin: 0;
		position: absolute;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
		font-size: 1em;
	}

	#navbar-toggle {
		width: 3em;
		display: flex;
		flex-direction: column;
		z-index: 1;
		justify-content: space-around;
		align-items: center;
		transition: background-color 0.3s ease;

		span {
			display: block;
			width: 2em;
			height: .25em;
			position: relative;
			background-color: #FFF;
			border-radius: .125em;
			transform-origin: center;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background-color 0.3s ease;
		}

		span + span {
			margin-top: .25em;
		}
	}

	input:checked ~ #navbar-toggle {
		background-color: #FFF;

		span {
			background-color: $accent;

			&:nth-child(1) {
				opacity: 1;
				transform: translateY(.5em) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 1;
				transform: rotate(-45deg);
			}

			&:nth-child(3) {
				opacity: 0;
				transform: scale(0, 0);
			}
		}
	}

	input:checked:hover ~ #navbar-toggle span,
	input:checked:focus ~ #navbar-toggle span {
		background-color: scale-color($accent, $lightness: -25%);
	}

	input:hover:not(:checked) ~ #navbar-toggle,
	input:focus:not(:checked) ~ #navbar-toggle {
		background-color: scale-color($accent, $lightness: -20%);
	}

	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		transition: background-color 0.3s ease,
			color 0.3s ease;
	}
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
	#navbar {
		flex-direction: row-reverse;

		#menu {
			position: absolute;
			box-sizing: border-box;
			width: min(20em, 100vw);
			left: 100vw;
			top: 100%;
			padding: 2em;
			background: #FFF;
			-webkit-font-smoothing: antialiased;
			transition: left 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
			overflow: auto;

			li {
				margin: 0 -2em;

				a {
					display: block;
					text-decoration: none;
					color: $accent;
					padding: .3em 2em;

					&:hover,
					&:focus,
					&:active {
						background-color: $accent;
						color: #FFF;
					}
				}
			}
		}

		input:checked ~ #menu {
			left: calc(100vw - min(20em, 100vw));
		}
	}
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
	#navbar {
		width: 100%;

		input {
			display: none;
		}

		#navbar-toggle {
			display: none;
		}

		a {
			color: #FFF;

			&:hover,
			&:focus,
			&:active {
				background-color: scale-color($accent, $lightness: -20%);
			}
		}

		#menu {
			position: relative;
			justify-content: space-between;

			ul {
				padding: 0;
				display: flex;
				height: 100%;

				a {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					padding: 0 1em;
				}
			}
		}
	}
}

#title {
	font-size: 4em;
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 0;
}

#description {
	font-family: "Roboto Slab";
	font-weight: normal;
	text-align: center;
	font-size: 1.75em;
}

#content {
	max-width: 95%;
	width: 60em;
	margin: 2em auto 0;

	& > section {
		h2 {
			font-size: 2em;
			font-family: "Roboto Slab";
			text-align: center;
		}

		p {
			font-size: 1.2em;
			text-align: justify;
		}
	}

	a {
		color: #66D9EF;

		&:hover {
			text-decoration: none;
		}
	}

	#download {
		text-align: center;
		margin-bottom: .5em;
		font-size: 1.2em;

		a {
			text-decoration: none;
			color: #FFF;
			background-color: $accent;
			font-family: "Roboto Mono";
			padding: 0.3em .7em;
			border-radius: .5rem;
		}
	}
}

@mixin fontcontainer {
	text-align: center;
	margin: 0.8em 0;
	font-size: 1.2em;

	select {
		font-size: 1em;
	}
}

#examples-fontcontainer {
	@include fontcontainer;
}

.example {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;

	.description {
		flex-basis: 100%;
		font-family: "Roboto Slab";
		font-size: 1.5em;
		text-align: center;
		margin: 0.7em 0;
	}

	&:first-of-type .description {
		margin-top: 0;
	}

	.frame {
		width: calc(50% - 2.5rem - 2px);
		font-size: 1.25em;
		border: 1px solid #FFF;
		padding: 0.5rem 1rem;
		overflow-x: auto;
		border-radius: 0.7rem;
		text-align: center;
		font-family: serif;
	}

	.input {
		width: calc(50% - 2.5rem - 2px);
		border: 1px solid #FFF;
		padding: 0.5rem 1rem;
		border-radius: 0.7rem;
		font-family: "Roboto Mono";
		white-space: nowrap;
		overflow: auto;
	}
}

@media (orientation: portrait) {
	.example {
		flex-direction: column;

		.frame {
			width: calc(100% - 2rem);
			margin-bottom: .5em;
		}

		.input {
			width: calc(100% - 2rem);
		}
	}
}

#demo {
	&-fontcontainer {
		@include fontcontainer;
	}

	&-input {
		background: inherit;
		border: 1px solid #FFF;
		width: calc(100% - 0.8rem * 2);
		height: 6em;
		border-radius: 0.7rem;
		overflow: auto;
		color: #FFF;
		font-family: "Roboto Mono";
		font-size: 1.2em;
		padding: 0.4rem 0.8rem;
		resize: vertical;
		display: block;
	}

	& > span {
		display: block;
		text-align: center;
		padding: 0.4em 0;

		&:before, &:after {
			content: "\2014";
			margin: 0 0.5em;
		}
	}

	&-output {
		background: inherit;
		border: 1px solid #FFF;
		width: calc(100% - 0.8rem * 2);
		height: 6em;
		border-radius: 0.7rem;
		overflow: auto;
		color: #FFF;
		font-size: 1.5em;
		padding: 0.4rem 0.8rem;
		resize: vertical;
		font-family: serif;
	}
}

code {
	font-family: "Roboto Mono";
}