---
---
$background: #26292C;
$accent: #00849D;

body {
	font-family: Roboto;
	background-color: $background;
	color: #FFF;
	padding: (1em * 1.2 * (1 + 0.8 * 2)) 0 3em;
}

.logo {
	font-family: "Roboto Slab";
	font-weight: 700;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 1.2em;
	background: $accent;
	display: flex;
	justify-content: space-between;
	line-height: 1;
	z-index: 1;
	overflow-x: auto;

	ul {
		display: flex;
		margin: 0;
		padding: 0;

		li {
			display: block;

			a {
				display: block;
				padding: 0.8em 1em;
			}
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			background: lighten($accent, 5%);
		}
	}

	& > a {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 .8em;

		.logo {
			color: #FFF;
			font-size: 1.2em;
		}
	}
}

#title {
	font-size: 4em;
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 0;
}

#description {
	font-family: "Roboto Slab";
	font-weight: normal;
	text-align: center;
	font-size: 1.75em;
}

#content {
	max-width: 95%;
	width: 60em;
	margin: 2em auto 0;

	& > section {
		h2 {
			font-size: 2em;
			font-family: "Roboto Slab";
			text-align: center;
		}

		p {
			font-size: 1.2em;
			text-align: justify;
		}
	}

	a {
		color: #66D9EF;

		&:hover {
			text-decoration: none;
		}
	}

	#download {
		text-align: center;
		margin-bottom: .5em;
		font-size: 1.2em;

		a {
			text-decoration: none;
			color: #FFF;
			background-color: $accent;
			font-family: "Roboto Mono";
			padding: 0.3em .7em;
			border-radius: .5rem;
		}
	}
}

@mixin fontcontainer {
	text-align: center;
	margin: 0.8em 0;
	font-size: 1.2em;

	select {
		font-size: 1em;
	}
}

#examples-fontcontainer {
	@include fontcontainer;
}

.example {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;

	.description {
		flex-basis: 100%;
		font-family: "Roboto Slab";
		font-size: 1.5em;
		text-align: center;
		margin: 0.7em 0;
	}

	&:first-of-type .description {
		margin-top: 0;
	}

	.frame {
		width: calc(50% - 2.5rem - 2px);
		font-size: 1.25em;
		border: 1px solid #FFF;
		padding: 0.5rem 1rem;
		overflow-x: auto;
		border-radius: 0.7rem;
		text-align: center;
	}

	.input {
		width: calc(50% - 2.5rem - 2px);
		border: 1px solid #FFF;
		padding: 0.5rem 1rem;
		border-radius: 0.7rem;
		font-family: "Roboto Mono";
		white-space: nowrap;
		overflow: auto;
	}
}

@media (orientation: portrait) {
	.example {
		flex-direction: column;

		.frame {
			width: calc(100% - 2rem);
			margin-bottom: .5em;
		}

		.input {
			width: calc(100% - 2rem);
		}
	}
}

#demo {
	&-fontcontainer {
		@include fontcontainer;
	}

	&-input {
		background: inherit;
		border: 1px solid #FFF;
		width: calc(100% - 0.8rem * 2);
		height: 6em;
		border-radius: 0.7rem;
		overflow: auto;
		color: #FFF;
		font-family: "Roboto Mono";
		font-size: 1.2em;
		padding: 0.4rem 0.8rem;
		resize: vertical;
		display: block;
	}

	& > span {
		display: block;
		text-align: center;
		padding: 0.4em 0;

		&:before, &:after {
			content: "\2014";
			margin: 0 0.5em;
		}
	}

	&-output {
		background: inherit;
		border: 1px solid #FFF;
		width: calc(100% - 0.8rem * 2);
		height: 6em;
		border-radius: 0.7rem;
		overflow: auto;
		color: #FFF;
		font-size: 1.5em;
		padding: 0.4rem 0.8rem;
		resize: vertical;
	}
}

code {
	font-family: "Roboto Mono";
}