---
---
.TeXcode {
	& > .plain,
	& > .brace {
		color: #FFFFFF;
	}

	& > .mathshift,
	& > .parameter {
		color: #E6DB74;
	}

	& > .number,
	& > .alignment {
		color: #AE81FF;
	}

	& > .operator {
		color: #F92672;
	}

	& > .macro {
		color: #66D9EF;
	}
}

.HTMLcode {
	& > .plain {
		color: #FFFFFF;
	}

	& > .tag {
		color: #F92672;
	}

	& > .attribute {
		color: #A6E22E;
	}

	& > .string {
		color: #E6DB74;
	}
}

.JavaScriptcode {
	& > .plain {
		color: #FFFFFF;
	}

	& > .builtin {
		color: #66D9EF
	}

	& > .string {
		color: #E6DB74;
	}
}