$background-color: {{ site.style.color.background  }};
$text-color: {{ site.style.color.text }};
$link-color: {{ site.style.color.link }};
$accent-color: {{ site.style.color.accent }};
$RobotoSlab: "Roboto Slab", Consolas, "Menlo Regular", monospace;
$Roboto: Roboto, Consolas, "Menlo Regular", monospace;

$content-width: 60rem;

// For use in @media queriess
$mobile: "only screen and (max-width: 767px)";

@mixin body-width {
	width: $content-width;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

@mixin centering-flex ($direction: column) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
}

$animation-number: null;
@mixin animation-keyframes {
	$animation-number: 0 !default !global;
	$animation-number: $animation-number + 1 !global;
	$name: unquote("การเคลื่อนไหวที่-#{$animation-number}");
	animation-name: $name;
	@at-root {
		@keyframes #{$name} {
			@content;
		}
	}
}

// Makes an array of indices with an optional offset
// index-array(5) -> [1 2 3 4 5]
// index-array(10, 3) -> [4 5 6 7 8 9 10 11 12 13]
@function index-array($n, $offset: 0) {
	$array: [];
	@for $i from 1 through $n {
		$array: append($array, $i + $offset)
	}
	@return $array;
}


// Randomizes an array's items
@function randomize-array($array) {
	$new-array: [];
	@for $i from 0 to length($array) {
		$index: random($limit: length($array));
		$new-array: append($new-array, nth($array, $index));
		$array: array-remove-index($array, $index);
	}
	@return $new-array;
}

// Removes an item from an array by its index
// array-remove-index([1 2 3], 2) -> [1 3]
@function array-remove-index($array, $index) {
	$new-array: [];
	@for $i from 1 through length($array) {
		@if $i != $index {
			$new-array: append($new-array, nth($array, $i));
		}
	}
	@return $new-array;
}