---
---
html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.theme_light {
    background-color: #FFF;
}

.theme_dark {
    background-color: #234;
}

.window {
    display: none;
    height: 100vh;
    width: 100vw;
}

.window.active {
    display: table-cell;
    vertical-align: middle;
}

#results.active {
    display: block;
}

.theme_light #results {
    background: #FFF;
}

.theme_dark #input,
.theme_dark #loading {
    background: #192A3B;
}

#input_container,
#loading_container {
    padding: 1em;
    width: 48em;
    min-width: calc(50vw - 2em);
    max-width: calc(95vw - 2em);
    margin: auto;
    border-radius: 1em;
}

.theme_light #input_container,
.theme_light #loading_container {
    box-shadow: 0 0 0 1px #DDD,
        0 0 .5em 0 #CCC;
}

.theme_dark #input_container,
.theme_dark #loading_container {
    box-shadow: 0 0 0 1px #567,
        0 0 .5em 0 #567;
    background-color: #234;
}

#input_text,
#loading_text {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    width: calc(100% - 2em);
    padding: .2em 1em;
    margin: 0 auto 1em;
    font-size: 1.5em;
}

.theme_light #input_text,
.theme_light #loading_text {
    color: #345;
}

.theme_dark #input_text,
.theme_dark #loading_text {
    color: #BCD;
}

#input {
    border-width: 1px;
    border-style: solid;
    width: 31.2em;
    min-width: calc(50vw - 2.4em);
    max-width: calc(95vw - 2.4em);
    padding: .3em .4em;
    font-family: "Share Tech Mono", Consolas, Monaco, Andale Mono, "Courier New", Courier, monospace;
    margin: auto;
    border-radius: .25em;
    font-size: 1.25em;
}

#loading_bar_container {
    border-width: 1px;
    border-style: solid;
    width: 40em;
    min-width: calc(50vw - 2em);
    max-width: calc(95vw - 2em);
    margin: auto;
    border-radius: .25em;
}

.theme_light #loading_bar_container {
    border-color: #DDD;
}

.theme_dark #loading_bar_container {
    border-color: #567;
}

#loading_bar {
    height: 1.5em;
    background-color: #03A9D4;
    width: 0;
}

button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    position: relative;
    outline: 0;
    border-radius: .25em;
    border-style: solid;
    border-width: 1px;
    padding: .2em .5em;
}

.theme_light button {
    color: #345;
    background: #FFF;
    border-color: #DDD;
}

.theme_light button:hover,
.theme_light button:focus {
    background-color: #F0F0F0;
}

.theme_dark button {
    color: #FFF;
    background: #234;
    border-color: #567;
}

.theme_dark button:hover,
.theme_dark button:focus {
    background-color: #456;
}

.theme_light button:active,
.theme_dark button:active,
button.main {
    background-color: #03A9D4;
    border-color: #0288D1;
    color: #FFF;
}

button.main:hover,
button.main:focus,
button.main:active {
    background-color: #0288D1;
    border-color: #1565C0;
}

#submit,
#cancel {
    display: block;
    margin: auto;
    font-size: 1.3em;
    margin-top: .7em;
}

span.ws_sp,
span.ws_tb {
    display: inline-block;
    white-space: pre;
}

span.ws_sp {
    width: 1ch;
}

span.ws_tb {
    width: 4ch;
}

span.ws_sp:before {
    content: "·";
    position: absolute;
}

span.ws_tb:before {
    content: "····";
    position: absolute;
}

#error_text {
    display: none;
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin: .3em 0 0;
}

.theme_light #error_text {
    color: #F00;
}

.theme_dark #error_text {
    color: #FF4D4D;
}

#results_up,
#results_down {
    height: 50%;
    width: 100%;
}

#results_up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 1px);
}

.theme_light #results_up {
    border-bottom: 1px solid #707070;
}

.theme_dark #results_up {
    border-bottom: 1px solid #909090;
}

#prob_container {
    min-width: 17em;
    max-width: 17em;
    padding: 1.5em 1em;
    font-family: Roboto, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.theme_light #prob_container,
.theme_light #stats {
    color: #345;
}

.theme_dark #prob_container,
.theme_dark #stats {
    color: #BCD;
}

#prob_total,
#prob_hover {
    display: none;
    vertical-align: middle;
}

#prob_total {
    font-size: 1.25em;
}

#prob_total_text {
    font-size: 1.25em;
}

#prob_of_text,
#prob_extra {
    font-size: 1.5em;
}

#prob_total_num,
#prob_percent {
    font-size: 3em;
}

#graph {
    margin: auto;
    position: relative;
}

#graph.error div {
    display: none;
}

#graph.success::before {
    content: "";
}

#graph::before {
    content: "Loading graph...";
    position: absolute;
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#graph.error::before {
    content: "Graph too large to display";
    font-size: 7vh;
}

.theme_light #graph::before {
    color: #999;
}

.theme_dark #graph::before {
    color: #789;
}

#results_down {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.modebar {
    display: none !important;
}

#stats_container {
    width: calc(100% - 19em);
    min-width: 50vw;
    flex-grow: 1;
    overflow-y: auto;
    text-align: center;
}

.theme_light #stats_container {
    box-shadow: -1px -1px 0 0 #707070;
}

.theme_dark #stats_container {
    box-shadow: -1px -1px 0 0 #909090;
}

#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    font-size: 1.1em;
    text-align: left;
}

#stats div {
    width: 16em;
    padding: .1em .3em;
}

#new {
    margin: auto;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#stats_container table {
    height: 100%;
}