---
layout: project
---
<header>
    <nav>
        <a href="home#">
            <div class="logo">FontTeX</div>
        </a>
        <ul>
            <li>
                <a href="home#demo">Demo</a>
            </li>
            <li>
                <a href="documentation">Documentation</a>
            </li>
            <li>
                <a href="home#download">Download</a>
            </li>
            <li>
                <a href="https://github.com/ChristianFigueroa/FontTeX">GitHub</a>
            </li>
        </ul>
    </nav>
    <div>
        <h1 id="title" class="logo">FontTeX</h1>
        <h3 id="description">HTML, font-friendly math equations</h3>
    </div>
</header>
{{ content }}